h1 {
  color: #27aedb;
  text-align: center;
}

div {
  color: green;
  text-align: left;
}

hr {
  width: 100%;
  flex-direction: row;
}

.tableRow {
  width: 70%;
  border-bottom: #27aedb 1px solid;
  display: flex;
  /* justify-content: left; */
}

.tableColumn {
  width: 50%;
}
